body {
    background-color: #818cf8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f1f5f9' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.inner-container {
    padding: 0 1rem;
}

/* typography */

h1 {
    color: #dc2626;
    font-size: 1.125rem;
    line-height: 60px;
    text-align: center;
}

h1 a {
    color: #dc2626;
}

h2 {
    color: #f8fafc;
    font-size: 28px;
    text-align: center;
}

/* header */

header {
    background-color: #f8fafc;
}

header a:first-of-type {
    font-size: 14px;
    text-decoration: none;
    color: #475569;
}

button {
    background-color: #f8fafc;
    border: none;
}

button svg {
    width: 20px;
    fill: #475569;
}

nav {
    /* flex: 1 0 100%; */
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #f8fafc;
    width: 98vw;
    visibility: hidden;
    opacity: 0;
}

.active-nav {
    visibility: visible;
    opacity: 1;
}

.menu svg {
    width: 10px;
    stroke: #475569;
}

.menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.menu li {
    line-height: 50px;
}

.menu li a:hover {
    background-color: #e2e8f0;
    color: #818cf8;
}

.submenu li {
    border-bottom: 1px solid #cbd5e1;
}

.submenu {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

/* what do you hover over? --> first selector with 
:hover what do you want to change --> second slector */
.menu li:hover > .submenu {
    max-height: 240px;
    visibility: visible;
    opacity: 1;
}

.menu li:focus-within > ul,
.menu li > ul:focus {
    max-height: 240px;
    visibility: visible;
    opacity: 1;
    display: block;
}

section {
    padding: 50px 0;
}

@media only screen and (min-width: 1100px) {
    .inner-container {
        padding: 0;
        max-width: 1100px;
        margin: 0 auto;
    }

    nav {
        position: static;
        width: auto;
        visibility: visible;
        opacity: 1;
    }

    .flex-container > a {
        order: 1;
    }

    .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        gap: 1rem;
    }
}